#log{
    font-size: 20px;
    color: rgb(20, 220, 210);
    position: absolute;
    top: 70px;;
    right:125px;
    padding: 10px;
    background-color: coral;
}
#reg{
    color: rgb(0, 197, 252);
    font-size: 20px;
    position: absolute;
    top: 70px;;
    right:20px;
    padding: 10px;
    background-color: coral;
}
#img{
    height: 50px;
    width: 80px;
    position: absolute;
    top: 60px;
    left: 15px;
}
#p{
    color: rgb(47, 255, 68);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    background-color: blueviolet;
    padding: 20px;
    border: 5px solid;
    border-radius: 5px;
}
#p1{
    font-size: 30px;
    color: rgba(71, 21, 199, 0.651);
    background-color: rgba(89, 42, 165, 0.366);
    padding: 20px;
    border: 5px solid;
    border-radius: 5px;
    margin-top: 10px;
}
#apply{
    font-size: 30px;
    color: red;
}
.co{
    font-size: 30px;
    color: blue;
    background-color: aquamarine;
    padding: 20px;
    border: 5px solid;
    border-radius: 5px;
    margin-bottom: 10px;
}
.ali{
    text-align: justify;
}
.fc{
    text-align: center;
}
strong{
    font-size: 40px;
    color: darkorange;
}